# Open and visualize the data

In [1]:
import pandas as pd
import datetime

In [2]:
PATH_CSV="/Users/iris/Documents/radar_deep/Radar_Traffic_Counts.csv"

In [3]:
df=pd.read_csv(PATH_CSV,parse_dates=[3,4,5,9])

In [4]:
df.head()

,location_name,location_latitude,location_longitude,Year,Month,Day,Day of Week,Hour,Minute,Time Bin,Direction,Volume
0,2021 BLK KINNEY AVE (NW 300ft NW of Lamar),30.248691,-97.770409,2018-01-01,1,23,2,22,15,2020-11-23 22:15:00,None,4
1,CAPITAL OF TEXAS HWY / LAKEWOOD DR,30.371674,-97.785660,2017-01-01,12,16,6,19,45,2020-11-23 19:45:00,NB,103
2,400 BLK AZIE MORTON RD (South of Barton Spring...,30.264245,-97.765802,2018-01-01,1,23,2,21,45,2020-11-23 21:45:00,SB,44
3,400 BLK AZIE MORTON RD (South of Barton Spring...,30.264245,-97.765802,2018-01-01,1,23,2,21,45,2020-11-23 21:45:00,NB,13
4,2021 BLK KINNEY AVE (NW 300ft NW of Lamar),30.248691,-97.770409,2018-01-01,1,23,2,22,15,2020-11-23 22:15:00,None,0

In [5]:
#df["datetime_time"]=df.apply(lambda x: datetime.datetime(x.Year,x.Month,x.Day,x.Hour,x.Minute),axis=1)

In [6]:
df.columns

Index(['location_name', 'location_latitude', 'location_longitude', 'Year',
       'Month', 'Day', 'Day of Week', 'Hour', 'Minute', 'Time Bin',
       'Direction', 'Volume'],
      dtype='object')

In [7]:
df["Time Bin"].unique()[:10]

array(['2020-11-23T22:15:00.000000000', '2020-11-23T19:45:00.000000000',
       '2020-11-23T21:45:00.000000000', '2020-11-23T19:30:00.000000000',
       '2020-11-23T22:00:00.000000000', '2020-11-23T21:00:00.000000000',
       '2020-11-23T22:30:00.000000000', '2020-11-23T22:45:00.000000000',
       '2020-11-23T23:00:00.000000000', '2020-11-23T10:45:00.000000000'],
      dtype='datetime64[ns]')

In [8]:
print(df['location_name'].unique().shape)
radar1=df['location_name'].unique()[0]

(23,)

In [9]:
radar1

'2021 BLK KINNEY AVE (NW 300ft NW of Lamar)'

In [10]:
df[["Day","Month","Year"]][df['location_name']==radar1] #we can seet we have data for each

        Day Month       Year
0        23     1 2018-01-01
4        23     1 2018-01-01
21       23     1 2018-01-01
67       23     1 2018-01-01
68       23     1 2018-01-01
...      ..   ...        ...
1483732  12     9 2017-01-01
1483821  12     9 2017-01-01
1483822  12     9 2017-01-01
1483823  12     9 2017-01-01
1483824  12     9 2017-01-01

[54432 rows x 3 columns]

In [11]:
df["Time Bin"][df['location_name']==radar1].unique()

array(['2020-11-23T22:15:00.000000000', '2020-11-23T22:00:00.000000000',
       '2020-11-23T22:30:00.000000000', '2020-11-23T22:45:00.000000000',
       '2020-11-23T23:00:00.000000000', '2020-11-23T23:15:00.000000000',
       '2020-11-23T23:30:00.000000000', '2020-11-23T23:45:00.000000000',
       '2020-11-23T11:15:00.000000000', '2020-11-23T00:00:00.000000000',
       '2020-11-23T00:15:00.000000000', '2020-11-23T00:30:00.000000000',
       '2020-11-23T00:45:00.000000000', '2020-11-23T01:15:00.000000000',
       '2020-11-23T01:00:00.000000000', '2020-11-23T11:00:00.000000000',
       '2020-11-23T01:30:00.000000000', '2020-11-23T02:00:00.000000000',
       '2020-11-23T01:45:00.000000000', '2020-11-23T02:15:00.000000000',
       '2020-11-23T02:30:00.000000000', '2020-11-23T02:45:00.000000000',
       '2020-11-23T03:00:00.000000000', '2020-11-23T11:30:00.000000000',
       '2020-11-23T03:15:00.000000000', '2020-11-23T03:30:00.000000000',
       '2020-11-23T03:45:00.000000000', '2020-11-23T04:00:00.000000000',
       '2020-11-23T04:15:00.000000000', '2020-11-23T04:30:00.000000000',
       '2020-11-23T04:45:00.000000000', '2020-11-23T11:45:00.000000000',
       '2020-11-23T05:00:00.000000000', '2020-11-23T05:15:00.000000000',
       '2020-11-23T05:30:00.000000000', '2020-11-23T05:45:00.000000000',
       '2020-11-23T06:00:00.000000000', '2020-11-23T12:00:00.000000000',
       '2020-11-23T06:30:00.000000000', '2020-11-23T06:15:00.000000000',
       '2020-11-23T06:45:00.000000000', '2020-11-23T07:00:00.000000000',
       '2020-11-23T07:15:00.000000000', '2020-11-23T07:30:00.000000000',
       '2020-11-23T07:45:00.000000000', '2020-11-23T08:15:00.000000000',
       '2020-11-23T08:00:00.000000000', '2020-11-23T08:30:00.000000000',
       '2020-11-23T12:15:00.000000000', '2020-11-23T08:45:00.000000000',
       '2020-11-23T09:00:00.000000000', '2020-11-23T09:15:00.000000000',
       '2020-11-23T09:30:00.000000000', '2020-11-23T09:45:00.000000000',
       '2020-11-23T10:00:00.000000000', '2020-11-23T10:15:00.000000000',
       '2020-11-23T12:30:00.000000000', '2020-11-23T10:45:00.000000000',
       '2020-11-23T10:30:00.000000000', '2020-11-23T12:45:00.000000000',
       '2020-11-23T13:00:00.000000000', '2020-11-23T13:15:00.000000000',
       '2020-11-23T13:45:00.000000000', '2020-11-23T13:30:00.000000000',
       '2020-11-23T14:00:00.000000000', '2020-11-23T14:30:00.000000000',
       '2020-11-23T14:15:00.000000000', '2020-11-23T14:45:00.000000000',
       '2020-11-23T15:00:00.000000000', '2020-11-23T15:15:00.000000000',
       '2020-11-23T15:30:00.000000000', '2020-11-23T15:45:00.000000000',
       '2020-11-23T16:00:00.000000000', '2020-11-23T16:15:00.000000000',
       '2020-11-23T16:30:00.000000000', '2020-11-23T16:45:00.000000000',
       '2020-11-23T17:15:00.000000000', '2020-11-23T17:00:00.000000000',
       '2020-11-23T17:30:00.000000000', '2020-11-23T17:45:00.000000000',
       '2020-11-23T18:00:00.000000000', '2020-11-23T18:15:00.000000000',
       '2020-11-23T18:30:00.000000000', '2020-11-23T19:00:00.000000000',
       '2020-11-23T18:45:00.000000000', '2020-11-23T19:15:00.000000000',
       '2020-11-23T19:30:00.000000000', '2020-11-23T19:45:00.000000000',
       '2020-11-23T20:00:00.000000000', '2020-11-23T20:15:00.000000000',
       '2020-11-23T20:30:00.000000000', '2020-11-23T20:45:00.000000000',
       '2020-11-23T21:00:00.000000000', '2020-11-23T21:30:00.000000000',
       '2020-11-23T21:15:00.000000000', '2020-11-23T21:45:00.000000000'],
      dtype='datetime64[ns]')

In [12]:
sub_df=df[["Time Bin","Direction","Volume"]][(df['location_name']==radar1)]

In [20]:
sub_df["Direction"].unique()

array(['None'], dtype=object)

In [14]:
datetime.date(2018,1,23)

datetime.date(2018, 1, 23)

In [15]:
print(type(sub_df["Time Bin"].iloc[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [16]:
pd.Timestamp(year=2018,month=1,day=23,unit="D").date()

datetime.date(2018, 1, 23)

In [17]:
sub_df.rename({"Time Bin":"date"})

                   Time Bin Direction  Volume
0       2020-11-23 22:15:00      None       4
4       2020-11-23 22:15:00      None       0
21      2020-11-23 22:15:00      None       3
67      2020-11-23 22:00:00      None       4
68      2020-11-23 22:00:00      None       1
...                     ...       ...     ...
1483732 2020-11-23 10:45:00      None       5
1483821 2020-11-23 10:30:00      None      12
1483822 2020-11-23 10:30:00      None       2
1483823 2020-11-23 10:30:00      None       5
1483824 2020-11-23 10:30:00      None       5

[54432 rows x 3 columns]

In [18]:
sub_df

                   Time Bin Direction  Volume
0       2020-11-23 22:15:00      None       4
4       2020-11-23 22:15:00      None       0
21      2020-11-23 22:15:00      None       3
67      2020-11-23 22:00:00      None       4
68      2020-11-23 22:00:00      None       1
...                     ...       ...     ...
1483732 2020-11-23 10:45:00      None       5
1483821 2020-11-23 10:30:00      None      12
1483822 2020-11-23 10:30:00      None       2
1483823 2020-11-23 10:30:00      None       5
1483824 2020-11-23 10:30:00      None       5

[54432 rows x 3 columns]

In [19]:
sub_df[sub_df.apply(lambda x: x["Time Bin"].date()][pd.Timestamp(year=2018,month=1,day=23).date()]

SyntaxError: invalid syntax (<ipython-input-19-27924d599862>, line 1)

In [ ]:
sub_df.sort_values("datetime_time")

In [ ]:
# It seems that some radar has collect data with no direction ...

In [ ]:
sub_df[(sub_df["Direction"]=="SB")|(sub_df["Hour"]==21)]

In [ ]:
sub_df[(sub_df["Direction"]=="SB")].plot(x="Time Bin",y="Volume")