# Open and visualize the data

In [89]:
import sys
from datetime import timedelta
sys.path.append("../")

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from open_data import open_data, create_global_batch

In [91]:
PATH_CSV="/Users/clemencevast/Documents/Courses/MachineLearning/RadarTrafficData_files/Radar_Traffic_Counts.csv" #"/Users/iris/Documents/radar_deep/Radar_Traffic_Counts.csv"
radar_name=' CAPITAL OF TEXAS HWY / LAKEWOOD DR'

In [92]:
df1=open_data(PATH_CSV, direction="NB", radar=radar_name, year=2018)

In [93]:
day1=df1["date"].iloc[0]
print(day1)

2018-01-01

In [94]:
len(df1["date"].unique())

318

In [95]:
df1.loc[(df1["date"]>=day1+timedelta(days=7))&(df1["date"]<day1+timedelta(days=8))]

            global_date  Volume  Day of Week        date
672 2018-01-08 00:00:00      24            1  2018-01-08
673 2018-01-08 00:15:00      21            1  2018-01-08
674 2018-01-08 01:00:00      18            1  2018-01-08
675 2018-01-08 01:15:00      10            1  2018-01-08
676 2018-01-08 01:30:00      14            1  2018-01-08
..                  ...     ...          ...         ...
761 2018-01-08 22:45:00     106            1  2018-01-08
762 2018-01-08 23:00:00      82            1  2018-01-08
763 2018-01-08 23:15:00      69            1  2018-01-08
764 2018-01-08 23:30:00      44            1  2018-01-08
765 2018-01-08 23:45:00      66            1  2018-01-08

[94 rows x 4 columns]

In [96]:
batch_df=create_global_batch(df1, window_x_day=6, window_label_day=1, gap_acquisition=1, tot_len_day=365)

Building batch 0
 x begin 2018-01-02 label begin 2018-01-08 end period 2018-12-23
Building batch 1
 x begin 2018-01-03 label begin 2018-01-09 end period 2018-12-23
Building batch 2
 x begin 2018-01-04 label begin 2018-01-10 end period 2018-12-23
Building batch 3
 x begin 2018-01-05 label begin 2018-01-11 end period 2018-12-23
Building batch 4
 x begin 2018-01-06 label begin 2018-01-12 end period 2018-12-23
Building batch 5
 x begin 2018-01-07 label begin 2018-01-13 end period 2018-12-23
Building batch 5
 x begin 2018-01-08 label begin 2018-01-14 end period 2018-12-23
Building batch 5
 x begin 2018-01-09 label begin 2018-01-15 end period 2018-12-23
Building batch 5
 x begin 2018-01-10 label begin 2018-01-16 end period 2018-12-23
Building batch 5
 x begin 2018-01-11 label begin 2018-01-17 end period 2018-12-23
Building batch 5
 x begin 2018-01-12 label begin 2018-01-18 end period 2018-12-23
Building batch 5
 x begin 2018-01-13 label begin 2018-01-19 end period 2018-12-23
Building batch 5
 x begin 2018-01-14 label begin 2018-01-20 end period 2018-12-23
Building batch 5
 x begin 2018-01-15 label begin 2018-01-21 end period 2018-12-23
Building batch 5
 x begin 2018-01-16 label begin 2018-01-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 521
Building batch 5
 x begin 2018-01-17 label begin 2018-01-23 end period 2018-12-23
Building batch 6
 x begin 2018-01-18 label begin 2018-01-24 end period 2018-12-23
Building batch 7
 x begin 2018-01-19 label begin 2018-01-25 end period 2018-12-23
Building batch 8
 x begin 2018-01-20 label begin 2018-01-26 end period 2018-12-23
Building batch 9
 x begin 2018-01-21 label begin 2018-01-27 end period 2018-12-23
Building batch 10
 x begin 2018-01-22 label begin 2018-01-28 end period 2018-12-23
Building batch 11
 x begin 2018-01-23 label begin 2018-01-29 end period 2018-12-23
Building batch 12
 x begin 2018-01-24 label begin 2018-01-30 end period 2018-12-23
Building batch 13
 x begin 2018-01-25 label begin 2018-01-31 end period 2018-12-23
Building batch 14
 x begin 2018-01-26 label begin 2018-02-01 end period 2018-12-23
Building batch 15
 x begin 2018-01-27 label begin 2018-02-02 end period 2018-12-23
Building batch 16
 x begin 2018-01-28 label begin 2018-02-03 end period 2018-12-23
Building batch 17
 x begin 2018-01-29 label begin 2018-02-04 end period 2018-12-23
Building batch 18
 x begin 2018-01-30 label begin 2018-02-05 end period 2018-12-23
Building batch 19
 x begin 2018-01-31 label begin 2018-02-06 end period 2018-12-23
Building batch 20
 x begin 2018-02-01 label begin 2018-02-07 end period 2018-12-23
Building batch 21
 x begin 2018-02-02 label begin 2018-02-08 end period 2018-12-23
Building batch 22
 x begin 2018-02-03 label begin 2018-02-09 end period 2018-12-23
Building batch 23
 x begin 2018-02-04 label begin 2018-02-10 end period 2018-12-23
Building batch 24
 x begin 2018-02-05 label begin 2018-02-11 end period 2018-12-23
Building batch 25
 x begin 2018-02-06 label begin 2018-02-12 end period 2018-12-23
Building batch 26
 x begin 2018-02-07 label begin 2018-02-13 end period 2018-12-23
Building batch 27
 x begin 2018-02-08 label begin 2018-02-14 end period 2018-12-23
Building batch 28
 x begin 2018-02-09 label begin 2018-02-15 end period 2018-12-23
Building batch 29
 x begin 2018-02-10 label begin 2018-02-16 end period 2018-12-23
Building batch 30
 x begin 2018-02-11 label begin 2018-02-17 end period 2018-12-23
Building batch 31
 x begin 2018-02-12 label begin 2018-02-18 end period 2018-12-23
Building batch 32
 x begin 2018-02-13 label begin 2018-02-19 end period 2018-12-23
Building batch 33
 x begin 2018-02-14 label begin 2018-02-20 end period 2018-12-23
Building batch 34
 x begin 2018-02-15 label begin 2018-02-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 523
Building batch 34
 x begin 2018-02-16 label begin 2018-02-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 472
Building batch 34
 x begin 2018-02-17 label begin 2018-02-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 34
 x begin 2018-02-18 label begin 2018-02-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 34
 x begin 2018-02-19 label begin 2018-02-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 34
 x begin 2018-02-20 label begin 2018-02-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 34
 x begin 2018-02-21 label begin 2018-02-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 525
Building batch 34
 x begin 2018-02-22 label begin 2018-02-28 end period 2018-12-23
Building batch 35
 x begin 2018-02-23 label begin 2018-03-01 end period 2018-12-23
Building batch 36
 x begin 2018-02-24 label begin 2018-03-02 end period 2018-12-23
Building batch 37
 x begin 2018-02-25 label begin 2018-03-03 end period 2018-12-23
Building batch 38
 x begin 2018-02-26 label begin 2018-03-04 end period 2018-12-23
Building batch 39
 x begin 2018-02-27 label begin 2018-03-05 end period 2018-12-23
Building batch 40
 x begin 2018-02-28 label begin 2018-03-06 end period 2018-12-23
Building batch 41
 x begin 2018-03-01 label begin 2018-03-07 end period 2018-12-23
Building batch 42
 x begin 2018-03-02 label begin 2018-03-08 end period 2018-12-23
Building batch 43
 x begin 2018-03-03 label begin 2018-03-09 end period 2018-12-23
Building batch 44
 x begin 2018-03-04 label begin 2018-03-10 end period 2018-12-23
Building batch 45
 x begin 2018-03-05 label begin 2018-03-11 end period 2018-12-23
Building batch 46
 x begin 2018-03-06 label begin 2018-03-12 end period 2018-12-23
Building batch 47
 x begin 2018-03-07 label begin 2018-03-13 end period 2018-12-23
Building batch 48
 x begin 2018-03-08 label begin 2018-03-14 end period 2018-12-23
Building batch 49
 x begin 2018-03-09 label begin 2018-03-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 49
 x begin 2018-03-10 label begin 2018-03-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 49
 x begin 2018-03-11 label begin 2018-03-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 49
 x begin 2018-03-12 label begin 2018-03-18 end period 2018-12-23
Building batch 50
 x begin 2018-03-13 label begin 2018-03-19 end period 2018-12-23
Building batch 51
 x begin 2018-03-14 label begin 2018-03-20 end period 2018-12-23
Building batch 52
 x begin 2018-03-15 label begin 2018-03-21 end period 2018-12-23
Building batch 53
 x begin 2018-03-16 label begin 2018-03-22 end period 2018-12-23
Building batch 54
 x begin 2018-03-17 label begin 2018-03-23 end period 2018-12-23
Building batch 55
 x begin 2018-03-18 label begin 2018-03-24 end period 2018-12-23
Building batch 56
 x begin 2018-03-19 label begin 2018-03-25 end period 2018-12-23
Building batch 57
 x begin 2018-03-20 label begin 2018-03-26 end period 2018-12-23
Building batch 58
 x begin 2018-03-21 label begin 2018-03-27 end period 2018-12-23
Building batch 59
 x begin 2018-03-22 label begin 2018-03-28 end period 2018-12-23
Building batch 60
 x begin 2018-03-23 label begin 2018-03-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 534
Building batch 60
 x begin 2018-03-24 label begin 2018-03-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 534
Building batch 60
 x begin 2018-03-25 label begin 2018-03-31 end period 2018-12-23
Building batch 60
 x begin 2018-03-26 label begin 2018-04-01 end period 2018-12-23
Building batch 60
 x begin 2018-03-27 label begin 2018-04-02 end period 2018-12-23
Building batch 60
 x begin 2018-03-28 label begin 2018-04-03 end period 2018-12-23
Building batch 60
 x begin 2018-03-29 label begin 2018-04-04 end period 2018-12-23
Building batch 60
 x begin 2018-03-30 label begin 2018-04-05 end period 2018-12-23
Building batch 60
 x begin 2018-03-31 label begin 2018-04-06 end period 2018-12-23
Building batch 60
 x begin 2018-04-01 label begin 2018-04-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 558
Building batch 60
 x begin 2018-04-02 label begin 2018-04-08 end period 2018-12-23
Building batch 61
 x begin 2018-04-03 label begin 2018-04-09 end period 2018-12-23
Building batch 62
 x begin 2018-04-04 label begin 2018-04-10 end period 2018-12-23
Building batch 63
 x begin 2018-04-05 label begin 2018-04-11 end period 2018-12-23
Building batch 64
 x begin 2018-04-06 label begin 2018-04-12 end period 2018-12-23
Building batch 65
 x begin 2018-04-07 label begin 2018-04-13 end period 2018-12-23
Building batch 66
 x begin 2018-04-08 label begin 2018-04-14 end period 2018-12-23
Building batch 67
 x begin 2018-04-09 label begin 2018-04-15 end period 2018-12-23
Building batch 68
 x begin 2018-04-10 label begin 2018-04-16 end period 2018-12-23
Building batch 69
 x begin 2018-04-11 label begin 2018-04-17 end period 2018-12-23
Building batch 70
 x begin 2018-04-12 label begin 2018-04-18 end period 2018-12-23
Building batch 71
 x begin 2018-04-13 label begin 2018-04-19 end period 2018-12-23
Building batch 72
 x begin 2018-04-14 label begin 2018-04-20 end period 2018-12-23
Building batch 73
 x begin 2018-04-15 label begin 2018-04-21 end period 2018-12-23
Building batch 74
 x begin 2018-04-16 label begin 2018-04-22 end period 2018-12-23
Building batch 75
 x begin 2018-04-17 label begin 2018-04-23 end period 2018-12-23
Building batch 76
 x begin 2018-04-18 label begin 2018-04-24 end period 2018-12-23
Building batch 77
 x begin 2018-04-19 label begin 2018-04-25 end period 2018-12-23
Building batch 78
 x begin 2018-04-20 label begin 2018-04-26 end period 2018-12-23
Building batch 79
 x begin 2018-04-21 label begin 2018-04-27 end period 2018-12-23
Building batch 80
 x begin 2018-04-22 label begin 2018-04-28 end period 2018-12-23
Building batch 81
 x begin 2018-04-23 label begin 2018-04-29 end period 2018-12-23
Building batch 82
 x begin 2018-04-24 label begin 2018-04-30 end period 2018-12-23
Building batch 83
 x begin 2018-04-25 label begin 2018-05-01 end period 2018-12-23
Building batch 84
 x begin 2018-04-26 label begin 2018-05-02 end period 2018-12-23
Building batch 85
 x begin 2018-04-27 label begin 2018-05-03 end period 2018-12-23
Building batch 86
 x begin 2018-04-28 label begin 2018-05-04 end period 2018-12-23
Building batch 87
 x begin 2018-04-29 label begin 2018-05-05 end period 2018-12-23
Building batch 88
 x begin 2018-04-30 label begin 2018-05-06 end period 2018-12-23
Building batch 89
 x begin 2018-05-01 label begin 2018-05-07 end period 2018-12-23
Building batch 90
 x begin 2018-05-02 label begin 2018-05-08 end period 2018-12-23
Building batch 91
 x begin 2018-05-03 label begin 2018-05-09 end period 2018-12-23
Building batch 92
 x begin 2018-05-04 label begin 2018-05-10 end period 2018-12-23
Building batch 93
 x begin 2018-05-05 label begin 2018-05-11 end period 2018-12-23
Building batch 94
 x begin 2018-05-06 label begin 2018-05-12 end period 2018-12-23
Building batch 95
 x begin 2018-05-07 label begin 2018-05-13 end period 2018-12-23
Building batch 95
 x begin 2018-05-08 label begin 2018-05-14 end period 2018-12-23
Building batch 95
 x begin 2018-05-09 label begin 2018-05-15 end period 2018-12-23
Building batch 95
 x begin 2018-05-10 label begin 2018-05-16 end period 2018-12-23
Building batch 95
 x begin 2018-05-11 label begin 2018-05-17 end period 2018-12-23
Building batch 95
 x begin 2018-05-12 label begin 2018-05-18 end period 2018-12-23
Building batch 95
 x begin 2018-05-13 label begin 2018-05-19 end period 2018-12-23
Building batch 95
 x begin 2018-05-14 label begin 2018-05-20 end period 2018-12-23
Building batch 95
 x begin 2018-05-15 label begin 2018-05-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 513
Building batch 95
 x begin 2018-05-16 label begin 2018-05-22 end period 2018-12-23
Building batch 96
 x begin 2018-05-17 label begin 2018-05-23 end period 2018-12-23
Building batch 97
 x begin 2018-05-18 label begin 2018-05-24 end period 2018-12-23
Building batch 97
 x begin 2018-05-19 label begin 2018-05-25 end period 2018-12-23
Building batch 97
 x begin 2018-05-20 label begin 2018-05-26 end period 2018-12-23
Building batch 97
 x begin 2018-05-21 label begin 2018-05-27 end period 2018-12-23
Building batch 97
 x begin 2018-05-22 label begin 2018-05-28 end period 2018-12-23
Building batch 97
 x begin 2018-05-23 label begin 2018-05-29 end period 2018-12-23
Building batch 97
 x begin 2018-05-24 label begin 2018-05-30 end period 2018-12-23
Building batch 97
 x begin 2018-05-25 label begin 2018-05-31 end period 2018-12-23
Building batch 97
 x begin 2018-05-26 label begin 2018-06-01 end period 2018-12-23
Building batch 97
 x begin 2018-05-27 label begin 2018-06-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 433
Building batch 97
 x begin 2018-05-28 label begin 2018-06-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 449
Building batch 97
 x begin 2018-05-29 label begin 2018-06-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 449
Building batch 97
 x begin 2018-05-30 label begin 2018-06-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 515
Building batch 97
 x begin 2018-05-31 label begin 2018-06-06 end period 2018-12-23
Building batch 98
 x begin 2018-06-01 label begin 2018-06-07 end period 2018-12-23
Building batch 99
 x begin 2018-06-02 label begin 2018-06-08 end period 2018-12-23
Building batch 100
 x begin 2018-06-03 label begin 2018-06-09 end period 2018-12-23
Building batch 101
 x begin 2018-06-04 label begin 2018-06-10 end period 2018-12-23
Building batch 102
 x begin 2018-06-05 label begin 2018-06-11 end period 2018-12-23
Building batch 103
 x begin 2018-06-06 label begin 2018-06-12 end period 2018-12-23
Building batch 104
 x begin 2018-06-07 label begin 2018-06-13 end period 2018-12-23
Building batch 105
 x begin 2018-06-08 label begin 2018-06-14 end period 2018-12-23
Building batch 106
 x begin 2018-06-09 label begin 2018-06-15 end period 2018-12-23
Building batch 107
 x begin 2018-06-10 label begin 2018-06-16 end period 2018-12-23
Building batch 108
 x begin 2018-06-11 label begin 2018-06-17 end period 2018-12-23
Building batch 108
 x begin 2018-06-12 label begin 2018-06-18 end period 2018-12-23
Building batch 108
 x begin 2018-06-13 label begin 2018-06-19 end period 2018-12-23
Building batch 108
 x begin 2018-06-14 label begin 2018-06-20 end period 2018-12-23
Building batch 108
 x begin 2018-06-15 label begin 2018-06-21 end period 2018-12-23
Building batch 108
 x begin 2018-06-16 label begin 2018-06-22 end period 2018-12-23
Building batch 108
 x begin 2018-06-17 label begin 2018-06-23 end period 2018-12-23
Building batch 108
 x begin 2018-06-18 label begin 2018-06-24 end period 2018-12-23
Building batch 108
 x begin 2018-06-19 label begin 2018-06-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 536
Building batch 108
 x begin 2018-06-20 label begin 2018-06-26 end period 2018-12-23
Building batch 109
 x begin 2018-06-21 label begin 2018-06-27 end period 2018-12-23
Building batch 110
 x begin 2018-06-22 label begin 2018-06-28 end period 2018-12-23
Building batch 111
 x begin 2018-06-23 label begin 2018-06-29 end period 2018-12-23
Building batch 112
 x begin 2018-06-24 label begin 2018-06-30 end period 2018-12-23
Building batch 113
 x begin 2018-06-25 label begin 2018-07-01 end period 2018-12-23
Building batch 114
 x begin 2018-06-26 label begin 2018-07-02 end period 2018-12-23
Building batch 115
 x begin 2018-06-27 label begin 2018-07-03 end period 2018-12-23
Building batch 116
 x begin 2018-06-28 label begin 2018-07-04 end period 2018-12-23
Building batch 117
 x begin 2018-06-29 label begin 2018-07-05 end period 2018-12-23
Building batch 118
 x begin 2018-06-30 label begin 2018-07-06 end period 2018-12-23
Building batch 119
 x begin 2018-07-01 label begin 2018-07-07 end period 2018-12-23
Building batch 120
 x begin 2018-07-02 label begin 2018-07-08 end period 2018-12-23
Building batch 121
 x begin 2018-07-03 label begin 2018-07-09 end period 2018-12-23
Building batch 122
 x begin 2018-07-04 label begin 2018-07-10 end period 2018-12-23
Building batch 123
 x begin 2018-07-05 label begin 2018-07-11 end period 2018-12-23
Building batch 124
 x begin 2018-07-06 label begin 2018-07-12 end period 2018-12-23
Building batch 125
 x begin 2018-07-07 label begin 2018-07-13 end period 2018-12-23
Building batch 126
 x begin 2018-07-08 label begin 2018-07-14 end period 2018-12-23
Building batch 127
 x begin 2018-07-09 label begin 2018-07-15 end period 2018-12-23
Building batch 128
 x begin 2018-07-10 label begin 2018-07-16 end period 2018-12-23
Building batch 129
 x begin 2018-07-11 label begin 2018-07-17 end period 2018-12-23
Building batch 130
 x begin 2018-07-12 label begin 2018-07-18 end period 2018-12-23
Building batch 131
 x begin 2018-07-13 label begin 2018-07-19 end period 2018-12-23
Building batch 132
 x begin 2018-07-14 label begin 2018-07-20 end period 2018-12-23
Building batch 133
 x begin 2018-07-15 label begin 2018-07-21 end period 2018-12-23
Building batch 134
 x begin 2018-07-16 label begin 2018-07-22 end period 2018-12-23
Building batch 135
 x begin 2018-07-17 label begin 2018-07-23 end period 2018-12-23
Building batch 136
 x begin 2018-07-18 label begin 2018-07-24 end period 2018-12-23
Building batch 137
 x begin 2018-07-19 label begin 2018-07-25 end period 2018-12-23
Building batch 138
 x begin 2018-07-20 label begin 2018-07-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-21 label begin 2018-07-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-22 label begin 2018-07-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-23 label begin 2018-07-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-24 label begin 2018-07-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-25 label begin 2018-07-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 138
 x begin 2018-07-26 label begin 2018-08-01 end period 2018-12-23
Building batch 139
 x begin 2018-07-27 label begin 2018-08-02 end period 2018-12-23
Building batch 140
 x begin 2018-07-28 label begin 2018-08-03 end period 2018-12-23
Building batch 141
 x begin 2018-07-29 label begin 2018-08-04 end period 2018-12-23
Building batch 142
 x begin 2018-07-30 label begin 2018-08-05 end period 2018-12-23
Building batch 143
 x begin 2018-07-31 label begin 2018-08-06 end period 2018-12-23
Building batch 144
 x begin 2018-08-01 label begin 2018-08-07 end period 2018-12-23
Building batch 145
 x begin 2018-08-02 label begin 2018-08-08 end period 2018-12-23
Building batch 146
 x begin 2018-08-03 label begin 2018-08-09 end period 2018-12-23
Building batch 147
 x begin 2018-08-04 label begin 2018-08-10 end period 2018-12-23
Building batch 148
 x begin 2018-08-05 label begin 2018-08-11 end period 2018-12-23
Building batch 149
 x begin 2018-08-06 label begin 2018-08-12 end period 2018-12-23
Building batch 150
 x begin 2018-08-07 label begin 2018-08-13 end period 2018-12-23
Building batch 151
 x begin 2018-08-08 label begin 2018-08-14 end period 2018-12-23
Building batch 151
 x begin 2018-08-09 label begin 2018-08-15 end period 2018-12-23
Building batch 151

In [97]:
batch_df

,vol_data_x,vol_label_y
0,"[22, 13, 21, 21, 15, 11, 19, 5, 14, 6, 5, 8, 4...","[24, 21, 18, 10, 14, 10, 9, 12, 7, 10, 9, 9, 5..."
1,"[33.0, 31.0, 20.0, 22.0, 13.0, 13.0, 13.0, 9.0...","[66, 40, 40, 22, 28, 22, 13, 9, 10, 14, 17, 7,..."
2,"[32.0, 31.0, 25.0, 29.0, 29.0, 10.0, 21.0, 17....","[36, 32, 28, 26, 23, 20, 14, 21, 8, 9, 11, 9, ..."
3,"[33.0, 37.0, 28.0, 19.0, 26.0, 16.0, 13.0, 14....","[48, 32, 36, 28, 32, 23, 8, 22, 17, 7, 21, 15,..."
4,"[59.0, 57.0, 56.0, 46.0, 30.0, 32.0, 19.0, 16....","[54, 36, 34, 30, 28, 19, 26, 17, 10, 8, 13, 14..."
...,...,...
213,"[50, 40, 36, 22, 27, 22, 19, 27, 15, 12, 7, 9,...","[41, 42, 32, 32, 20, 13, 22, 15, 10, 8, 5, 11,..."
214,"[70, 63, 57, 46, 38, 33, 25, 30, 24, 16, 10, 1...","[63, 52, 39, 29, 25, 17, 19, 18, 10, 8, 6, 9, ..."
215,"[87, 78, 75, 57, 45, 31, 35, 28, 26, 15, 10, 1...","[82, 87, 67, 69, 46, 32, 40, 27, 23, 19, 23, 1..."
216,"[33, 28, 18, 9, 18, 17, 10, 10, 10, 7, 11, 4, ...","[90, 89, 73, 70, 49, 46, 34, 35, 24, 25, 21, 1..."
217,"[80, 61, 67, 61, 31, 38, 24, 26, 31, 14, 20, 1...","[41, 43, 38, 35, 23, 25, 22, 23, 19, 16, 9, 12..."

In [98]:
for i in range(18):
    print("batch {} len {}".format(i,len(batch_df["vol_data_x"].iloc[i])))

batch 0 len 576
batch 1 len 576
batch 2 len 576
batch 3 len 576
batch 4 len 576
batch 5 len 576
batch 6 len 576
batch 7 len 576
batch 8 len 576
batch 9 len 576
batch 10 len 576
batch 11 len 576
batch 12 len 576
batch 13 len 576
batch 14 len 576
batch 15 len 576
batch 16 len 576
batch 17 len 576

In [99]:
df=pd.read_csv(PATH_CSV,parse_dates={"global_date":[3,4,5,9]},keep_date_col=True)

In [100]:
df.head()

,global_date,location_name,location_latitude,location_longitude,Year,Month,Day,Day of Week,Hour,Minute,Time Bin,Direction,Volume
0,2018-01-23 22:15:00,2021 BLK KINNEY AVE (NW 300ft NW of Lamar),30.248691,-97.770409,2018,1,23,2,22,15,22:15,None,4
1,2017-12-16 19:45:00,CAPITAL OF TEXAS HWY / LAKEWOOD DR,30.371674,-97.785660,2017,12,16,6,19,45,19:45,NB,103
2,2018-01-23 21:45:00,400 BLK AZIE MORTON RD (South of Barton Spring...,30.264245,-97.765802,2018,1,23,2,21,45,21:45,SB,44
3,2018-01-23 21:45:00,400 BLK AZIE MORTON RD (South of Barton Spring...,30.264245,-97.765802,2018,1,23,2,21,45,21:45,NB,13
4,2018-01-23 22:15:00,2021 BLK KINNEY AVE (NW 300ft NW of Lamar),30.248691,-97.770409,2018,1,23,2,22,15,22:15,None,0

In [101]:
#df["datetime_time"]=df.apply(lambda x: datetime.datetime(x.Year,x.Month,x.Day,x.Hour,x.Minute),axis=1)

In [102]:
df.columns

Index(['global_date', 'location_name', 'location_latitude',
       'location_longitude', 'Year', 'Month', 'Day', 'Day of Week', 'Hour',
       'Minute', 'Time Bin', 'Direction', 'Volume'],
      dtype='object')

In [103]:
df["Time Bin"].unique()[:10]

array(['22:15', '19:45', '21:45', '19:30', '22:00', '21:00', '22:30',
       '22:45', '23:00', '10:45'], dtype=object)

In [104]:
print(df['location_name'].unique().shape)
radar1=df['location_name'].unique()[1]

(23,)

In [105]:
radar1

' CAPITAL OF TEXAS HWY / LAKEWOOD DR'

In [106]:
df[["Day","Month","Year"]][df['location_name']==radar1] #we can seet we have data for each

        Day Month  Year
1        16    12  2017
26       16    12  2017
27       16    12  2017
35       23     1  2018
36       23     1  2018
...      ..   ...   ...
4603784  27     5  2019
4603801  25     5  2019
4603818  21     5  2019
4603821  20     5  2019
4603843  17     5  2019

[383244 rows x 3 columns]

In [107]:
df["global_date"][df['location_name']==radar1].unique()

array(['2017-12-16T19:45:00.000000000', '2017-12-16T19:30:00.000000000',
       '2018-01-23T22:15:00.000000000', ...,
       '2019-05-07T23:45:00.000000000', '2019-05-07T23:30:00.000000000',
       '2019-05-07T23:15:00.000000000'], dtype='datetime64[ns]')

In [ ]:
sub_df=df[(df['location_name']==radar1)]

In [ ]:
sub_df["Direction"].unique()

In [ ]:
datetime.date(2018,1,23)

In [ ]:
print(type(sub_df["global_date"].iloc[0]))

In [ ]:
select_date=pd.Timestamp(year=2018,month=1,day=23,unit="D").date()

In [ ]:
print(select_date)

In [ ]:
sub_df.rename({"Time Bin":"date"})

In [ ]:
sub_df

In [ ]:
s2=sub_df[sub_df.apply(lambda x: x["global_date"].date())]
s2[s2["global_date"]==select_date]

In [ ]:
sub_df.loc[(sub_df["Direction"]=="NB")&(sub_df["Year"]=="2018")].sort_values("global_date")

In [ ]:
sub_df2018=sub_df[(sub_df["Direction"]=="NB")|(sub_df["Year"]==2018)]

In [ ]:
sub_df2018=sub_df2018.sort_values("global_date")

In [ ]:
print(sub_df2018["global_date"].iloc[0])

print(sub_df2018["global_date"].iloc[0].to_datetime64())
from datetime import timedelta
add_D=timedelta(days=1)
end_window=sub_df2018["global_date"].iloc[0].date()+add_D
print(end_window)

In [ ]:
first_date=sub_df2018["global_date"].iloc[0].date()
second_date=sub_df2018["global_date"].iloc[0].date()+timedelta(days=1)
end_window=second_date+timedelta(days=6)

In [ ]:
print(first_date)
print(second_date)
print(end_window)

In [ ]:
print(type(sub_df2018))

In [ ]:
sub_df2018.global_date.date()

In [ ]:
sub_df2018["date"]=sub_df2018.apply(lambda x: x.global_date.date(),axis=1)

In [ ]:
sub_df2018.loc[(sub_df2018["date"]<end_window)&(sub_df2018["date"]>=second_date)]

In [ ]:
sub_df2018.loc[(sub_df2018["date"]<end_window)&(sub_df2018["date"]>=second_date)]["Volume"].to_numpy()

In [ ]:
days_df=sub_df2018.groupby(["Year","Month","Day"]).agg({"Volume":"sum"}).reset_index()

In [ ]:
days_df

In [ ]:
final_df=sub_df2018.groupby("global_date").agg({"Volume":"sum"}).sort_values("global_date").reset_index()

In [ ]:
# It seems that some radar has collect data with no direction ...

In [ ]:
mean_df=sub_df2018.groupby(["Day of Week","Time Bin"]).agg({"Volume":"mean"}).sort_values("Day of Week").reset_index()

In [ ]:
mean_df

In [ ]:
f,ax=plt.subplots(7,1,figsize=(10,30))
for i in range(7):
    s=mean_df[mean_df["Day of Week"]==i].sort_values("Time Bin")
    s.plot(x="Time Bin",y="Volume",ax=ax[i],title="Mean value of the Volume for day {} of the week".format(i))

In [ ]:
mean_df.plot(x="Day of Week",y="Volume",kind="bar",title="Mean volume aggregate by the day of the week over the year 2018")

In [ ]:
final_df

In [ ]:
final_df.columns

In [ ]:
fig,ax=plt.subplots(7,1,figsize=(10,30))
for i in range(7):
    print(i*24*4,(i+1)*24*4)
    temp_df=final_df.iloc[i*24*4:(i+1)*24*4]
    temp_df.plot("global_date","Volume",ax=ax[i],title=" Day of the Week {}".format(i))

In [ ]:
final_df["exact_day"]=final_df["global_date"].date()

In [ ]:
final_df.plot("global_date","Volume")

In [ ]:
sub_df[(sub_df["Direction"]=="SB")|(sub_df["Hour"]==21)]

In [ ]:
sub_df[(sub_df["Direction"]=="SB")].plot(x="Time Bin",y="Volume")

In [ ]:
from