In [1]:
# import libraries
import torch
from torch import nn
from torch.nn import functional as F
import torchvision

import torchvision.transforms as transforms
#import torchvision.datasets as datasets
#from torch.utils.data import Dataset
#from torch.utils.data import DataLoader

In [2]:
import sys
from torch import nn
import torch
from datetime import timedelta
sys.path.append("../")
sys.path.append("../../")
import os
import random
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from open_data import open_data, create_global_batch
from dataset import RadarDataset,RadarCollate
from simple_model import LSTM
from train import train
from torch.utils.data import DataLoader
from torch.autograd import Variable

In [3]:
PATH_CSV="/Users/iris/Documents/radar_deep/Radar_Traffic_Counts.csv" #"/Users/clemencevast/Documents/Courses/MachineLearning/RadarTrafficData_files/Radar_Traffic_Counts.csv" #
radar_name=' CAPITAL OF TEXAS HWY / LAKEWOOD DR'

In [4]:
df1=open_data(PATH_CSV, direction="NB", radar=radar_name, year=2018)

In [5]:
batch_df=create_global_batch(df1, window_x_day=6, window_label_day=1, gap_acquisition=1, tot_len_day=365)

Building batch 0
 x begin 2018-01-02 label begin 2018-01-08 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 0
 x begin 2018-01-03 label begin 2018-01-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-04 label begin 2018-01-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-05 label begin 2018-01-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-06 label begin 2018-01-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-07 label begin 2018-01-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 520
Building batch 0
 x begin 2018-01-08 label begin 2018-01-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 424
Building batch 0
 x begin 2018-01-09 label begin 2018-01-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 330
Building batch 0
 x begin 2018-01-10 label begin 2018-01-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 234
Building batch 0
 x begin 2018-01-11 label begin 2018-01-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 179
Building batch 0
 x begin 2018-01-12 label begin 2018-01-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 179
Building batch 0
 x begin 2018-01-13 label begin 2018-01-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 233
Building batch 0
 x begin 2018-01-14 label begin 2018-01-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 329
Building batch 0
 x begin 2018-01-15 label begin 2018-01-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 425
Building batch 0
 x begin 2018-01-16 label begin 2018-01-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 521
Building batch 0
 x begin 2018-01-17 label begin 2018-01-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-18 label begin 2018-01-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-19 label begin 2018-01-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-20 label begin 2018-01-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-21 label begin 2018-01-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 0
 x begin 2018-01-22 label begin 2018-01-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 0
 x begin 2018-01-23 label begin 2018-01-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-24 label begin 2018-01-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-25 label begin 2018-01-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-26 label begin 2018-02-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-27 label begin 2018-02-02 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 0
 x begin 2018-01-28 label begin 2018-02-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-29 label begin 2018-02-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-30 label begin 2018-02-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-01-31 label begin 2018-02-06 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-02-01 label begin 2018-02-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-02-02 label begin 2018-02-08 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 0
 x begin 2018-02-03 label begin 2018-02-09 end period 2018-12-23
We do not have all the dates for the time period in label , 96 90
Building batch 0
 x begin 2018-02-04 label begin 2018-02-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-05 label begin 2018-02-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-06 label begin 2018-02-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-07 label begin 2018-02-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-08 label begin 2018-02-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-09 label begin 2018-02-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 0
 x begin 2018-02-10 label begin 2018-02-16 end period 2018-12-23
We do not have all the dates for the time period in label , 96 89
Building batch 0
 x begin 2018-02-11 label begin 2018-02-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 569
Building batch 0
 x begin 2018-02-12 label begin 2018-02-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 569
Building batch 0
 x begin 2018-02-13 label begin 2018-02-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 569
Building batch 0
 x begin 2018-02-14 label begin 2018-02-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 569
Building batch 0
 x begin 2018-02-15 label begin 2018-02-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 523
Building batch 0
 x begin 2018-02-16 label begin 2018-02-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 472
Building batch 0
 x begin 2018-02-17 label begin 2018-02-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 0
 x begin 2018-02-18 label begin 2018-02-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 0
 x begin 2018-02-19 label begin 2018-02-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 0
 x begin 2018-02-20 label begin 2018-02-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 0
 x begin 2018-02-21 label begin 2018-02-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 525
Building batch 0
 x begin 2018-02-22 label begin 2018-02-28 end period 2018-12-23
Building batch 1
 x begin 2018-02-23 label begin 2018-03-01 end period 2018-12-23
Building batch 2
 x begin 2018-02-24 label begin 2018-03-02 end period 2018-12-23
Building batch 3
 x begin 2018-02-25 label begin 2018-03-03 end period 2018-12-23
Building batch 4
 x begin 2018-02-26 label begin 2018-03-04 end period 2018-12-23
Building batch 5
 x begin 2018-02-27 label begin 2018-03-05 end period 2018-12-23
Building batch 6
 x begin 2018-02-28 label begin 2018-03-06 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 6
 x begin 2018-03-01 label begin 2018-03-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 6
 x begin 2018-03-02 label begin 2018-03-08 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 6
 x begin 2018-03-03 label begin 2018-03-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 6
 x begin 2018-03-04 label begin 2018-03-10 end period 2018-12-23

We do not have all the dates for the time period in x , 576 572
Building batch 6
 x begin 2018-03-05 label begin 2018-03-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 6
 x begin 2018-03-06 label begin 2018-03-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 568
Building batch 6
 x begin 2018-03-07 label begin 2018-03-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 6
 x begin 2018-03-08 label begin 2018-03-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 570
Building batch 6
 x begin 2018-03-09 label begin 2018-03-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 6
 x begin 2018-03-10 label begin 2018-03-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 6
 x begin 2018-03-11 label begin 2018-03-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 564
Building batch 6
 x begin 2018-03-12 label begin 2018-03-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 568
Building batch 6
 x begin 2018-03-13 label begin 2018-03-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 568
Building batch 6
 x begin 2018-03-14 label begin 2018-03-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 568
Building batch 6
 x begin 2018-03-15 label begin 2018-03-21 end period 2018-12-23
Building batch 7
 x begin 2018-03-16 label begin 2018-03-22 end period 2018-12-23
Building batch 8
 x begin 2018-03-17 label begin 2018-03-23 end period 2018-12-23
Building batch 9
 x begin 2018-03-18 label begin 2018-03-24 end period 2018-12-23
Building batch 10
 x begin 2018-03-19 label begin 2018-03-25 end period 2018-12-23
Building batch 11
 x begin 2018-03-20 label begin 2018-03-26 end period 2018-12-23
Building batch 12
 x begin 2018-03-21 label begin 2018-03-27 end period 2018-12-23
Building batch 13
 x begin 2018-03-22 label begin 2018-03-28 end period 2018-12-23
We do not have all the dates for the time period in label , 96 54
Building batch 13
 x begin 2018-03-23 label begin 2018-03-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 534
Building batch 13
 x begin 2018-03-24 label begin 2018-03-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 534
Building batch 13
 x begin 2018-03-25 label begin 2018-03-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 479
Building batch 13
 x begin 2018-03-26 label begin 2018-04-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 383
Building batch 13
 x begin 2018-03-27 label begin 2018-04-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 367
Building batch 13
 x begin 2018-03-28 label begin 2018-04-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 367
Building batch 13
 x begin 2018-03-29 label begin 2018-04-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 409
Building batch 13
 x begin 2018-03-30 label begin 2018-04-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 409
Building batch 13
 x begin 2018-03-31 label begin 2018-04-06 end period 2018-12-23
We do not have all the dates for the time period in x , 576 462
Building batch 13
 x begin 2018-04-01 label begin 2018-04-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 558
Building batch 13
 x begin 2018-04-02 label begin 2018-04-08 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 13
 x begin 2018-04-03 label begin 2018-04-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 13
 x begin 2018-04-04 label begin 2018-04-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 13
 x begin 2018-04-05 label begin 2018-04-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 573
Building batch 13
 x begin 2018-04-06 label begin 2018-04-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 13
 x begin 2018-04-07 label begin 2018-04-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 13
 x begin 2018-04-08 label begin 2018-04-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 13
 x begin 2018-04-09 label begin 2018-04-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 13
 x begin 2018-04-10 label begin 2018-04-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 13
 x begin 2018-04-11 label begin 2018-04-17 end period 2018-12-23
Building batch 14
 x begin 2018-04-12 label begin 2018-04-18 end period 2018-12-23
Building batch 15
 x begin 2018-04-13 label begin 2018-04-19 end period 2018-12-23
Building batch 16
 x begin 2018-04-14 label begin 2018-04-20 end period 2018-12-23
Building batch 17
 x begin 2018-04-15 label begin 2018-04-21 end period 2018-12-23
Building batch 18
 x begin 2018-04-16 label begin 2018-04-22 end period 2018-12-23
Building batch 19
 x begin 2018-04-17 label begin 2018-04-23 end period 2018-12-23
Building batch 20
 x begin 2018-04-18 label begin 2018-04-24 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 20
 x begin 2018-04-19 label begin 2018-04-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-20 label begin 2018-04-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-21 label begin 2018-04-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-22 label begin 2018-04-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-23 label begin 2018-04-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-24 label begin 2018-04-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 20
 x begin 2018-04-25 label begin 2018-05-01 end period 2018-12-23
Building batch 21
 x begin 2018-04-26 label begin 2018-05-02 end period 2018-12-23
Building batch 22
 x begin 2018-04-27 label begin 2018-05-03 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 22
 x begin 2018-04-28 label begin 2018-05-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-04-29 label begin 2018-05-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-04-30 label begin 2018-05-06 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-01 label begin 2018-05-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-02 label begin 2018-05-08 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 22
 x begin 2018-05-03 label begin 2018-05-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 572
Building batch 22
 x begin 2018-05-04 label begin 2018-05-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-05 label begin 2018-05-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-06 label begin 2018-05-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-07 label begin 2018-05-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 525
Building batch 22
 x begin 2018-05-08 label begin 2018-05-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 431
Building batch 22
 x begin 2018-05-09 label begin 2018-05-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 335
Building batch 22
 x begin 2018-05-10 label begin 2018-05-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 274
Building batch 22
 x begin 2018-05-11 label begin 2018-05-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 272
Building batch 22
 x begin 2018-05-12 label begin 2018-05-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 272
Building batch 22
 x begin 2018-05-13 label begin 2018-05-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 321
Building batch 22
 x begin 2018-05-14 label begin 2018-05-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 417
Building batch 22
 x begin 2018-05-15 label begin 2018-05-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 513
Building batch 22
 x begin 2018-05-16 label begin 2018-05-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-17 label begin 2018-05-23 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 22
 x begin 2018-05-18 label begin 2018-05-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-05-19 label begin 2018-05-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 478
Building batch 22
 x begin 2018-05-20 label begin 2018-05-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 382
Building batch 22
 x begin 2018-05-21 label begin 2018-05-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 286
Building batch 22
 x begin 2018-05-22 label begin 2018-05-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 270
Building batch 22
 x begin 2018-05-23 label begin 2018-05-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 270
Building batch 22
 x begin 2018-05-24 label begin 2018-05-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 206
Building batch 22
 x begin 2018-05-25 label begin 2018-05-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 241
Building batch 22
 x begin 2018-05-26 label begin 2018-06-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 337
Building batch 22
 x begin 2018-05-27 label begin 2018-06-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 433
Building batch 22
 x begin 2018-05-28 label begin 2018-06-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 449
Building batch 22
 x begin 2018-05-29 label begin 2018-06-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 449
Building batch 22
 x begin 2018-05-30 label begin 2018-06-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 515
Building batch 22
 x begin 2018-05-31 label begin 2018-06-06 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 22
 x begin 2018-06-01 label begin 2018-06-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-02 label begin 2018-06-08 end period 2018-12-23

We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-03 label begin 2018-06-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-04 label begin 2018-06-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-05 label begin 2018-06-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-06 label begin 2018-06-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 22
 x begin 2018-06-07 label begin 2018-06-13 end period 2018-12-23
We do not have all the dates for the time period in label , 96 95
Building batch 22
 x begin 2018-06-08 label begin 2018-06-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 22
 x begin 2018-06-09 label begin 2018-06-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 22
 x begin 2018-06-10 label begin 2018-06-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 575
Building batch 22
 x begin 2018-06-11 label begin 2018-06-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 509
Building batch 22
 x begin 2018-06-12 label begin 2018-06-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 413
Building batch 22
 x begin 2018-06-13 label begin 2018-06-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 317
Building batch 22
 x begin 2018-06-14 label begin 2018-06-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 278
Building batch 22
 x begin 2018-06-15 label begin 2018-06-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 278
Building batch 22
 x begin 2018-06-16 label begin 2018-06-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 278
Building batch 22
 x begin 2018-06-17 label begin 2018-06-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 344
Building batch 22
 x begin 2018-06-18 label begin 2018-06-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 440
Building batch 22
 x begin 2018-06-19 label begin 2018-06-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 536
Building batch 22
 x begin 2018-06-20 label begin 2018-06-26 end period 2018-12-23
Building batch 23
 x begin 2018-06-21 label begin 2018-06-27 end period 2018-12-23
Building batch 24
 x begin 2018-06-22 label begin 2018-06-28 end period 2018-12-23
Building batch 25
 x begin 2018-06-23 label begin 2018-06-29 end period 2018-12-23
Building batch 26
 x begin 2018-06-24 label begin 2018-06-30 end period 2018-12-23
Building batch 27
 x begin 2018-06-25 label begin 2018-07-01 end period 2018-12-23
Building batch 28
 x begin 2018-06-26 label begin 2018-07-02 end period 2018-12-23
Building batch 29
 x begin 2018-06-27 label begin 2018-07-03 end period 2018-12-23
Building batch 30
 x begin 2018-06-28 label begin 2018-07-04 end period 2018-12-23
Building batch 31
 x begin 2018-06-29 label begin 2018-07-05 end period 2018-12-23
Building batch 32
 x begin 2018-06-30 label begin 2018-07-06 end period 2018-12-23
Building batch 33
 x begin 2018-07-01 label begin 2018-07-07 end period 2018-12-23
Building batch 34
 x begin 2018-07-02 label begin 2018-07-08 end period 2018-12-23
Building batch 35
 x begin 2018-07-03 label begin 2018-07-09 end period 2018-12-23
Building batch 36
 x begin 2018-07-04 label begin 2018-07-10 end period 2018-12-23
Building batch 37
 x begin 2018-07-05 label begin 2018-07-11 end period 2018-12-23
Building batch 38
 x begin 2018-07-06 label begin 2018-07-12 end period 2018-12-23
Building batch 39
 x begin 2018-07-07 label begin 2018-07-13 end period 2018-12-23
Building batch 40
 x begin 2018-07-08 label begin 2018-07-14 end period 2018-12-23
Building batch 41
 x begin 2018-07-09 label begin 2018-07-15 end period 2018-12-23
Building batch 42
 x begin 2018-07-10 label begin 2018-07-16 end period 2018-12-23
Building batch 43
 x begin 2018-07-11 label begin 2018-07-17 end period 2018-12-23
Building batch 44
 x begin 2018-07-12 label begin 2018-07-18 end period 2018-12-23
Building batch 45
 x begin 2018-07-13 label begin 2018-07-19 end period 2018-12-23
Building batch 46
 x begin 2018-07-14 label begin 2018-07-20 end period 2018-12-23
Building batch 47
 x begin 2018-07-15 label begin 2018-07-21 end period 2018-12-23
Building batch 48
 x begin 2018-07-16 label begin 2018-07-22 end period 2018-12-23
Building batch 49
 x begin 2018-07-17 label begin 2018-07-23 end period 2018-12-23
Building batch 50
 x begin 2018-07-18 label begin 2018-07-24 end period 2018-12-23
Building batch 51
 x begin 2018-07-19 label begin 2018-07-25 end period 2018-12-23
We do not have all the dates for the time period in label , 96 71
Building batch 51
 x begin 2018-07-20 label begin 2018-07-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-21 label begin 2018-07-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-22 label begin 2018-07-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-23 label begin 2018-07-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-24 label begin 2018-07-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-25 label begin 2018-07-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 551
Building batch 51
 x begin 2018-07-26 label begin 2018-08-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-07-27 label begin 2018-08-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-07-28 label begin 2018-08-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-07-29 label begin 2018-08-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-07-30 label begin 2018-08-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-07-31 label begin 2018-08-06 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 51
 x begin 2018-08-01 label begin 2018-08-07 end period 2018-12-23
Building batch 52
 x begin 2018-08-02 label begin 2018-08-08 end period 2018-12-23
Building batch 53
 x begin 2018-08-03 label begin 2018-08-09 end period 2018-12-23
Building batch 54
 x begin 2018-08-04 label begin 2018-08-10 end period 2018-12-23
Building batch 55
 x begin 2018-08-05 label begin 2018-08-11 end period 2018-12-23
Building batch 56
 x begin 2018-08-06 label begin 2018-08-12 end period 2018-12-23
Building batch 57
 x begin 2018-08-07 label begin 2018-08-13 end period 2018-12-23
We do not have all the dates for the time period in label , 96 85
Building batch 57
 x begin 2018-08-08 label begin 2018-08-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 565
Building batch 57
 x begin 2018-08-09 label begin 2018-08-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 469
Building batch 57
 x begin 2018-08-10 label begin 2018-08-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 373
Building batch 57
 x begin 2018-08-11 label begin 2018-08-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 277
Building batch 57
 x begin 2018-08-12 label begin 2018-08-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 181
Building batch 57
 x begin 2018-08-13 label begin 2018-08-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 85
Building batch 57
 x begin 2018-08-14 label begin 2018-08-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-15 label begin 2018-08-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-16 label begin 2018-08-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-17 label begin 2018-08-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-18 label begin 2018-08-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-19 label begin 2018-08-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-20 label begin 2018-08-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-21 label begin 2018-08-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-22 label begin 2018-08-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-23 label begin 2018-08-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-24 label begin 2018-08-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-25 label begin 2018-08-31 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-26 label begin 2018-09-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-27 label begin 2018-09-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-28 label begin 2018-09-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-29 label begin 2018-09-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-30 label begin 2018-09-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-08-31 label begin 2018-09-06 end period 2018-12-23

We do not have all the dates for the time period in x , 576 0
Building batch 57
 x begin 2018-09-01 label begin 2018-09-07 end period 2018-12-23
We do not have all the dates for the time period in x , 576 3
Building batch 57
 x begin 2018-09-02 label begin 2018-09-08 end period 2018-12-23
We do not have all the dates for the time period in x , 576 99
Building batch 57
 x begin 2018-09-03 label begin 2018-09-09 end period 2018-12-23
We do not have all the dates for the time period in x , 576 195
Building batch 57
 x begin 2018-09-04 label begin 2018-09-10 end period 2018-12-23
We do not have all the dates for the time period in x , 576 291
Building batch 57
 x begin 2018-09-05 label begin 2018-09-11 end period 2018-12-23
We do not have all the dates for the time period in x , 576 387
Building batch 57
 x begin 2018-09-06 label begin 2018-09-12 end period 2018-12-23
We do not have all the dates for the time period in x , 576 483
Building batch 57
 x begin 2018-09-07 label begin 2018-09-13 end period 2018-12-23
We do not have all the dates for the time period in x , 576 519
Building batch 57
 x begin 2018-09-08 label begin 2018-09-14 end period 2018-12-23
We do not have all the dates for the time period in x , 576 423
Building batch 57
 x begin 2018-09-09 label begin 2018-09-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 327
Building batch 57
 x begin 2018-09-10 label begin 2018-09-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 261
Building batch 57
 x begin 2018-09-11 label begin 2018-09-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 261
Building batch 57
 x begin 2018-09-12 label begin 2018-09-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 261
Building batch 57
 x begin 2018-09-13 label begin 2018-09-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 318
Building batch 57
 x begin 2018-09-14 label begin 2018-09-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 414
Building batch 57
 x begin 2018-09-15 label begin 2018-09-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 510
Building batch 57
 x begin 2018-09-16 label begin 2018-09-22 end period 2018-12-23
Building batch 58
 x begin 2018-09-17 label begin 2018-09-23 end period 2018-12-23
Building batch 59
 x begin 2018-09-18 label begin 2018-09-24 end period 2018-12-23
Building batch 60
 x begin 2018-09-19 label begin 2018-09-25 end period 2018-12-23
Building batch 61
 x begin 2018-09-20 label begin 2018-09-26 end period 2018-12-23
Building batch 62
 x begin 2018-09-21 label begin 2018-09-27 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 62
 x begin 2018-09-22 label begin 2018-09-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-23 label begin 2018-09-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-24 label begin 2018-09-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-25 label begin 2018-10-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-26 label begin 2018-10-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-27 label begin 2018-10-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 62
 x begin 2018-09-28 label begin 2018-10-04 end period 2018-12-23
Building batch 63
 x begin 2018-09-29 label begin 2018-10-05 end period 2018-12-23
Building batch 64
 x begin 2018-09-30 label begin 2018-10-06 end period 2018-12-23
Building batch 65
 x begin 2018-10-01 label begin 2018-10-07 end period 2018-12-23
Building batch 66
 x begin 2018-10-02 label begin 2018-10-08 end period 2018-12-23
Building batch 67
 x begin 2018-10-03 label begin 2018-10-09 end period 2018-12-23
Building batch 68
 x begin 2018-10-04 label begin 2018-10-10 end period 2018-12-23
Building batch 69
 x begin 2018-10-05 label begin 2018-10-11 end period 2018-12-23
Building batch 70
 x begin 2018-10-06 label begin 2018-10-12 end period 2018-12-23
Building batch 71
 x begin 2018-10-07 label begin 2018-10-13 end period 2018-12-23
Building batch 72
 x begin 2018-10-08 label begin 2018-10-14 end period 2018-12-23
Building batch 73
 x begin 2018-10-09 label begin 2018-10-15 end period 2018-12-23
Building batch 74
 x begin 2018-10-10 label begin 2018-10-16 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 74
 x begin 2018-10-11 label begin 2018-10-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-12 label begin 2018-10-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-13 label begin 2018-10-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-14 label begin 2018-10-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-15 label begin 2018-10-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-16 label begin 2018-10-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-17 label begin 2018-10-23 end period 2018-12-23
We do not have all the dates for the time period in label , 96 67
Building batch 74
 x begin 2018-10-18 label begin 2018-10-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 547
Building batch 74
 x begin 2018-10-19 label begin 2018-10-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 491
Building batch 74
 x begin 2018-10-20 label begin 2018-10-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 491
Building batch 74
 x begin 2018-10-21 label begin 2018-10-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 491
Building batch 74
 x begin 2018-10-22 label begin 2018-10-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 491
Building batch 74
 x begin 2018-10-23 label begin 2018-10-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 491
Building batch 74
 x begin 2018-10-24 label begin 2018-10-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 520
Building batch 74
 x begin 2018-10-25 label begin 2018-10-31 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 74
 x begin 2018-10-26 label begin 2018-11-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-27 label begin 2018-11-02 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-28 label begin 2018-11-03 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-29 label begin 2018-11-04 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-30 label begin 2018-11-05 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-10-31 label begin 2018-11-06 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 74
 x begin 2018-11-01 label begin 2018-11-07 end period 2018-12-23
Building batch 75
 x begin 2018-11-02 label begin 2018-11-08 end period 2018-12-23
Building batch 76

 x begin 2018-11-03 label begin 2018-11-09 end period 2018-12-23
Building batch 77
 x begin 2018-11-04 label begin 2018-11-10 end period 2018-12-23
Building batch 78
 x begin 2018-11-05 label begin 2018-11-11 end period 2018-12-23
Building batch 79
 x begin 2018-11-06 label begin 2018-11-12 end period 2018-12-23
Building batch 80
 x begin 2018-11-07 label begin 2018-11-13 end period 2018-12-23
Building batch 81
 x begin 2018-11-08 label begin 2018-11-14 end period 2018-12-23
We do not have all the dates for the time period in label , 96 94
Building batch 81
 x begin 2018-11-09 label begin 2018-11-15 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 81
 x begin 2018-11-10 label begin 2018-11-16 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 81
 x begin 2018-11-11 label begin 2018-11-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 81
 x begin 2018-11-12 label begin 2018-11-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 574
Building batch 81
 x begin 2018-11-13 label begin 2018-11-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 513
Building batch 81
 x begin 2018-11-14 label begin 2018-11-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 417
Building batch 81
 x begin 2018-11-15 label begin 2018-11-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 323
Building batch 81
 x begin 2018-11-16 label begin 2018-11-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 227
Building batch 81
 x begin 2018-11-17 label begin 2018-11-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 131
Building batch 81
 x begin 2018-11-18 label begin 2018-11-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 35
Building batch 81
 x begin 2018-11-19 label begin 2018-11-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 0
Building batch 81
 x begin 2018-11-20 label begin 2018-11-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 80
Building batch 81
 x begin 2018-11-21 label begin 2018-11-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 176
Building batch 81
 x begin 2018-11-22 label begin 2018-11-28 end period 2018-12-23
We do not have all the dates for the time period in x , 576 272
Building batch 81
 x begin 2018-11-23 label begin 2018-11-29 end period 2018-12-23
We do not have all the dates for the time period in x , 576 368
Building batch 81
 x begin 2018-11-24 label begin 2018-11-30 end period 2018-12-23
We do not have all the dates for the time period in x , 576 464
Building batch 81
 x begin 2018-11-25 label begin 2018-12-01 end period 2018-12-23
We do not have all the dates for the time period in x , 576 560
Building batch 81
 x begin 2018-11-26 label begin 2018-12-02 end period 2018-12-23
Building batch 82
 x begin 2018-11-27 label begin 2018-12-03 end period 2018-12-23
Building batch 83
 x begin 2018-11-28 label begin 2018-12-04 end period 2018-12-23
Building batch 84
 x begin 2018-11-29 label begin 2018-12-05 end period 2018-12-23
Building batch 85
 x begin 2018-11-30 label begin 2018-12-06 end period 2018-12-23
Building batch 86
 x begin 2018-12-01 label begin 2018-12-07 end period 2018-12-23
Building batch 87
 x begin 2018-12-02 label begin 2018-12-08 end period 2018-12-23
Building batch 88
 x begin 2018-12-03 label begin 2018-12-09 end period 2018-12-23
Building batch 89
 x begin 2018-12-04 label begin 2018-12-10 end period 2018-12-23
Building batch 90
 x begin 2018-12-05 label begin 2018-12-11 end period 2018-12-23
Building batch 91
 x begin 2018-12-06 label begin 2018-12-12 end period 2018-12-23
Building batch 92
 x begin 2018-12-07 label begin 2018-12-13 end period 2018-12-23
Building batch 93
 x begin 2018-12-08 label begin 2018-12-14 end period 2018-12-23
Building batch 94
 x begin 2018-12-09 label begin 2018-12-15 end period 2018-12-23
Building batch 95
 x begin 2018-12-10 label begin 2018-12-16 end period 2018-12-23
We do not have all the dates for the time period in label , 96 28
Building batch 95
 x begin 2018-12-11 label begin 2018-12-17 end period 2018-12-23
We do not have all the dates for the time period in x , 576 508
Building batch 95
 x begin 2018-12-12 label begin 2018-12-18 end period 2018-12-23
We do not have all the dates for the time period in x , 576 412
Building batch 95
 x begin 2018-12-13 label begin 2018-12-19 end period 2018-12-23
We do not have all the dates for the time period in x , 576 316
Building batch 95
 x begin 2018-12-14 label begin 2018-12-20 end period 2018-12-23
We do not have all the dates for the time period in x , 576 220
Building batch 95
 x begin 2018-12-15 label begin 2018-12-21 end period 2018-12-23
We do not have all the dates for the time period in x , 576 124
Building batch 95
 x begin 2018-12-16 label begin 2018-12-22 end period 2018-12-23
We do not have all the dates for the time period in x , 576 77
Building batch 95
 x begin 2018-12-17 label begin 2018-12-23 end period 2018-12-23
We do not have all the dates for the time period in x , 576 145
Building batch 95
 x begin 2018-12-18 label begin 2018-12-24 end period 2018-12-23
We do not have all the dates for the time period in x , 576 241
Building batch 95
 x begin 2018-12-19 label begin 2018-12-25 end period 2018-12-23
We do not have all the dates for the time period in x , 576 337
Building batch 95
 x begin 2018-12-20 label begin 2018-12-26 end period 2018-12-23
We do not have all the dates for the time period in x , 576 433
Building batch 95
 x begin 2018-12-21 label begin 2018-12-27 end period 2018-12-23
We do not have all the dates for the time period in x , 576 529
Building batch 95
 x begin 2018-12-22 label begin 2018-12-28 end period 2018-12-23

In [6]:
batch_df

,vol_data_x,vol_label_y
0,"[39, 24, 28, 20, 14, 14, 12, 8, 6, 7, 2, 10, 9...","[41, 37, 17, 26, 18, 17, 24, 11, 14, 7, 6, 15,..."
1,"[32, 27, 32, 25, 26, 15, 15, 18, 20, 7, 9, 15,...","[37, 34, 29, 29, 20, 15, 13, 8, 9, 14, 9, 12, ..."
2,"[63, 57, 57, 36, 32, 37, 29, 28, 13, 14, 17, 1...","[49, 33, 32, 31, 24, 20, 13, 11, 17, 8, 11, 10..."
3,"[78, 66, 45, 52, 52, 39, 40, 38, 32, 25, 17, 2...","[58, 57, 59, 39, 44, 42, 27, 29, 30, 15, 13, 1..."
4,"[35, 23, 23, 24, 14, 10, 24, 18, 9, 8, 10, 10,...","[70, 63, 36, 49, 31, 35, 24, 27, 18, 14, 20, 1..."
...,...,...
91,"[58, 28, 26, 33, 20, 23, 13, 15, 6, 7, 13, 5, ...","[38, 35, 29, 18, 11, 20, 11, 14, 9, 13, 6, 7, ..."
92,"[50, 40, 36, 22, 27, 22, 19, 27, 15, 12, 7, 9,...","[41, 42, 32, 32, 20, 13, 22, 15, 10, 8, 5, 11,..."
93,"[70, 63, 57, 46, 38, 33, 25, 30, 24, 16, 10, 1...","[63, 52, 39, 29, 25, 17, 19, 18, 10, 8, 6, 9, ..."
94,"[87, 78, 75, 57, 45, 31, 35, 28, 26, 15, 10, 1...","[82, 87, 67, 69, 46, 32, 40, 27, 23, 19, 23, 1..."
95,"[80, 61, 67, 61, 31, 38, 24, 26, 31, 14, 20, 1...","[41, 43, 38, 35, 23, 25, 22, 23, 19, 16, 9, 12..."

In [7]:
#batch_df["mean_x"]=batch_df["vol_data_x"].apply(lambda x : np.mean(x))
#batch_df["std_x"]=batch_df["vol_data_x"].apply(lambda x : np.std(x))
#batch_df["mean_y"]=batch_df["vol_label_y"].apply(lambda x : np.mean(x))

In [8]:
batch_df

,vol_data_x,vol_label_y
0,"[39, 24, 28, 20, 14, 14, 12, 8, 6, 7, 2, 10, 9...","[41, 37, 17, 26, 18, 17, 24, 11, 14, 7, 6, 15,..."
1,"[32, 27, 32, 25, 26, 15, 15, 18, 20, 7, 9, 15,...","[37, 34, 29, 29, 20, 15, 13, 8, 9, 14, 9, 12, ..."
2,"[63, 57, 57, 36, 32, 37, 29, 28, 13, 14, 17, 1...","[49, 33, 32, 31, 24, 20, 13, 11, 17, 8, 11, 10..."
3,"[78, 66, 45, 52, 52, 39, 40, 38, 32, 25, 17, 2...","[58, 57, 59, 39, 44, 42, 27, 29, 30, 15, 13, 1..."
4,"[35, 23, 23, 24, 14, 10, 24, 18, 9, 8, 10, 10,...","[70, 63, 36, 49, 31, 35, 24, 27, 18, 14, 20, 1..."
...,...,...
91,"[58, 28, 26, 33, 20, 23, 13, 15, 6, 7, 13, 5, ...","[38, 35, 29, 18, 11, 20, 11, 14, 9, 13, 6, 7, ..."
92,"[50, 40, 36, 22, 27, 22, 19, 27, 15, 12, 7, 9,...","[41, 42, 32, 32, 20, 13, 22, 15, 10, 8, 5, 11,..."
93,"[70, 63, 57, 46, 38, 33, 25, 30, 24, 16, 10, 1...","[63, 52, 39, 29, 25, 17, 19, 18, 10, 8, 6, 9, ..."
94,"[87, 78, 75, 57, 45, 31, 35, 28, 26, 15, 10, 1...","[82, 87, 67, 69, 46, 32, 40, 27, 23, 19, 23, 1..."
95,"[80, 61, 67, 61, 31, 38, 24, 26, 31, 14, 20, 1...","[41, 43, 38, 35, 23, 25, 22, 23, 19, 16, 9, 12..."

In [9]:
def get_df_stats(df,columns=None):
    """ return mean and std for the columns"""
    if columns is None: 
        columns=["vol_data_x","vol_label_y"]
    dic={}
    global_mean=0
    global_std=0
    for name in columns:
        df["{}_min".format(name)]=df[name].apply(lambda x : np.min(x))
        df["{}_max".format(name)]=df[name].apply(lambda x : np.max(x))
        global_mean+=df["{}_min".format(name)].min()
        global_std+=df["{}_max".format(name)].max()
    return global_mean/len(columns),global_std/len(columns)
    
def apply_norm(df,mini,maxi,columns=None):
    """ apply std"""
    if columns is None: 
        columns=["vol_data_x","vol_label_y"]
    for name in columns:
        df["{}_norm".format(name)]=df[name].apply(lambda x : (x-mini)/(maxi-mini))
    return df

In [10]:
df_mean,df_std=get_df_stats(batch_df)
new_data=apply_norm(batch_df,df_mean,df_std)

In [11]:
get_df_stats(new_data,["vol_data_x_norm","vol_label_y_norm"])

(0.0, 1.0)

In [12]:
new_data

,vol_data_x,vol_label_y,vol_data_x_min,vol_data_x_max,vol_label_y_min,vol_label_y_max,vol_data_x_norm,vol_label_y_norm,vol_data_x_norm_min,vol_data_x_norm_max,vol_label_y_norm_min,vol_label_y_norm_max
0,"[39, 24, 28, 20, 14, 14, 12, 8, 6, 7, 2, 10, 9...","[41, 37, 17, 26, 18, 17, 24, 11, 14, 7, 6, 15,...",2,496,6,482,"[0.03927813163481953, 0.02335456475583864, 0.0...","[0.041401273885350316, 0.037154989384288746, 0...",0.000000,0.524416,0.004246,0.509554
1,"[32, 27, 32, 25, 26, 15, 15, 18, 20, 7, 9, 15,...","[37, 34, 29, 29, 20, 15, 13, 8, 9, 14, 9, 12, ...",3,496,4,482,"[0.03184713375796178, 0.02653927813163482, 0.0...","[0.037154989384288746, 0.03397027600849257, 0....",0.001062,0.524416,0.002123,0.509554
2,"[63, 57, 57, 36, 32, 37, 29, 28, 13, 14, 17, 1...","[49, 33, 32, 31, 24, 20, 13, 11, 17, 8, 11, 10...",3,496,6,500,"[0.06475583864118896, 0.058386411889596604, 0....","[0.049893842887473464, 0.032908704883227176, 0...",0.001062,0.524416,0.004246,0.528662
3,"[78, 66, 45, 52, 52, 39, 40, 38, 32, 25, 17, 2...","[58, 57, 59, 39, 44, 42, 27, 29, 30, 15, 13, 1...",3,500,7,434,"[0.08067940552016985, 0.06794055201698514, 0.0...","[0.059447983014861996, 0.058386411889596604, 0...",0.001062,0.528662,0.005308,0.458599
4,"[35, 23, 23, 24, 14, 10, 24, 18, 9, 8, 10, 10,...","[70, 63, 36, 49, 31, 35, 24, 27, 18, 14, 20, 1...",3,500,6,402,"[0.03503184713375796, 0.022292993630573247, 0....","[0.07218683651804671, 0.06475583864118896, 0.0...",0.001062,0.528662,0.004246,0.424628
...,...,...,...,...,...,...,...,...,...,...,...,...
91,"[58, 28, 26, 33, 20, 23, 13, 15, 6, 7, 13, 5, ...","[38, 35, 29, 18, 11, 20, 11, 14, 9, 13, 6, 7, ...",3,488,4,484,"[0.059447983014861996, 0.027600849256900213, 0...","[0.03821656050955414, 0.03503184713375796, 0.0...",0.001062,0.515924,0.002123,0.511677
92,"[50, 40, 36, 22, 27, 22, 19, 27, 15, 12, 7, 9,...","[41, 42, 32, 32, 20, 13, 22, 15, 10, 8, 5, 11,...",3,488,5,501,"[0.050955414012738856, 0.040339702760084924, 0...","[0.041401273885350316, 0.04246284501061571, 0....",0.001062,0.515924,0.003185,0.529724
93,"[70, 63, 57, 46, 38, 33, 25, 30, 24, 16, 10, 1...","[63, 52, 39, 29, 25, 17, 19, 18, 10, 8, 6, 9, ...",3,501,6,480,"[0.07218683651804671, 0.06475583864118896, 0.0...","[0.06475583864118896, 0.05307855626326964, 0.0...",0.001062,0.529724,0.004246,0.507431
94,"[87, 78, 75, 57, 45, 31, 35, 28, 26, 15, 10, 1...","[82, 87, 67, 69, 46, 32, 40, 27, 23, 19, 23, 1...",3,501,5,409,"[0.09023354564755838, 0.08067940552016985, 0.0...","[0.08492569002123142, 0.09023354564755838, 0.0...",0.001062,0.529724,0.003185,0.432059
95,"[80, 61, 67, 61, 31, 38, 24, 26, 31, 14, 20, 1...","[41, 43, 38, 35, 23, 25, 22, 23, 19, 16, 9, 12...",2,461,6,437,"[0.08280254777070063, 0.06263269639065817, 0.0...","[0.041401273885350316, 0.0435244161358811, 0.0...",0.000000,0.487261,0.004246,0.461783

In [13]:
#get_df_stats(new_data,columns=["vol_data_x_norm","vol_label_y_norm"])

In [14]:
# sample_rate = 16000
batch_size = 1

In [15]:
normalize=transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize(mean=[df_mean],
                         std=[df_std])
])
fullset = RadarDataset(dataframe=batch_df,transform=None)
print(type(fullset))
ptrain,pval,ptest=0.8,0.05,0.15
trainglobdataset, testdataset = train_test_split(fullset, test_size=ptest)
traindataset, valdataset = train_test_split(trainglobdataset, test_size=pval/(1-ptest))

<class 'dataset.RadarDataset'>
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)
(96,)

In [16]:
collate_fn = RadarCollate()
trainloader = DataLoader(traindataset, batch_size=batch_size, collate_fn=collate_fn, shuffle=True)
valloader = DataLoader(valdataset, batch_size=batch_size, collate_fn=collate_fn, shuffle=True)
testloader = DataLoader(testdataset, batch_size=batch_size, collate_fn=collate_fn, shuffle=False)

In [17]:
c= 0
for x in trainloader:
    print("batch number {}".format(c))
    print(x[0].shape, x[1].shape, "\n")
    #print(x)
    c+=1

batch number 0
torch.Size([1, 576]) torch.Size([1, 96])

batch number 1
torch.Size([1, 576]) torch.Size([1, 96])

batch number 2
torch.Size([1, 576]) torch.Size([1, 96])

batch number 3
torch.Size([1, 576]) torch.Size([1, 96])

batch number 4
torch.Size([1, 576]) torch.Size([1, 96])

batch number 5
torch.Size([1, 576]) torch.Size([1, 96])

batch number 6
torch.Size([1, 576]) torch.Size([1, 96])

batch number 7
torch.Size([1, 576]) torch.Size([1, 96])

batch number 8
torch.Size([1, 576]) torch.Size([1, 96])

batch number 9
torch.Size([1, 576]) torch.Size([1, 96])

batch number 10
torch.Size([1, 576]) torch.Size([1, 96])

batch number 11
torch.Size([1, 576]) torch.Size([1, 96])

batch number 12
torch.Size([1, 576]) torch.Size([1, 96])

batch number 13
torch.Size([1, 576]) torch.Size([1, 96])

batch number 14
torch.Size([1, 576]) torch.Size([1, 96])

batch number 15
torch.Size([1, 576]) torch.Size([1, 96])

batch number 16
torch.Size([1, 576]) torch.Size([1, 96])

batch number 17
torch.Size([1, 576]) torch.Size([1, 96])

batch number 18
torch.Size([1, 576]) torch.Size([1, 96])

batch number 19
torch.Size([1, 576]) torch.Size([1, 96])

batch number 20
torch.Size([1, 576]) torch.Size([1, 96])

batch number 21
torch.Size([1, 576]) torch.Size([1, 96])

batch number 22
torch.Size([1, 576]) torch.Size([1, 96])

batch number 23
torch.Size([1, 576]) torch.Size([1, 96])

batch number 24
torch.Size([1, 576]) torch.Size([1, 96])

batch number 25
torch.Size([1, 576]) torch.Size([1, 96])

batch number 26
torch.Size([1, 576]) torch.Size([1, 96])

batch number 27
torch.Size([1, 576]) torch.Size([1, 96])

batch number 28
torch.Size([1, 576]) torch.Size([1, 96])

batch number 29
torch.Size([1, 576]) torch.Size([1, 96])

batch number 30
torch.Size([1, 576]) torch.Size([1, 96])

batch number 31
torch.Size([1, 576]) torch.Size([1, 96])

batch number 32
torch.Size([1, 576]) torch.Size([1, 96])

batch number 33
torch.Size([1, 576]) torch.Size([1, 96])

batch number 34
torch.Size([1, 576]) torch.Size([1, 96])

batch number 35
torch.Size([1, 576]) torch.Size([1, 96])

batch number 36
torch.Size([1, 576]) torch.Size([1, 96])

batch number 37
torch.Size([1, 576]) torch.Size([1, 96])

batch number 38
torch.Size([1, 576]) torch.Size([1, 96])

batch number 39
torch.Size([1, 576]) torch.Size([1, 96])

batch number 40
torch.Size([1, 576]) torch.Size([1, 96])

batch number 41
torch.Size([1, 576]) torch.Size([1, 96])

batch number 42
torch.Size([1, 576]) torch.Size([1, 96])

batch number 43
torch.Size([1, 576]) torch.Size([1, 96])

batch number 44
torch.Size([1, 576]) torch.Size([1, 96])

batch number 45
torch.Size([1, 576]) torch.Size([1, 96])

batch number 46
torch.Size([1, 576]) torch.Size([1, 96])

batch number 47
torch.Size([1, 576]) torch.Size([1, 96])

batch number 48
torch.Size([1, 576]) torch.Size([1, 96])

batch number 49
torch.Size([1, 576]) torch.Size([1, 96])

batch number 50
torch.Size([1, 576]) torch.Size([1, 96])

batch number 51
torch.Size([1, 576]) torch.Size([1, 96])

batch number 52
torch.Size([1, 576]) torch.Size([1, 96])

batch number 53
torch.Size([1, 576]) torch.Size([1, 96])

batch number 54
torch.Size([1, 576]) torch.Size([1, 96])

batch number 55
torch.Size([1, 576]) torch.Size([1, 96])

batch number 56
torch.Size([1, 576]) torch.Size([1, 96])

batch number 57
torch.Size([1, 576]) torch.Size([1, 96])

batch number 58
torch.Size([1, 576]) torch.Size([1, 96])

batch number 59
torch.Size([1, 576]) torch.Size([1, 96])

batch number 60
torch.Size([1, 576]) torch.Size([1, 96])

batch number 61
torch.Size([1, 576]) torch.Size([1, 96])

batch number 62
torch.Size([1, 576]) torch.Size([1, 96])

batch number 63
torch.Size([1, 576]) torch.Size([1, 96])

batch number 64
torch.Size([1, 576]) torch.Size([1, 96])

batch number 65
torch.Size([1, 576]) torch.Size([1, 96])

batch number 66
torch.Size([1, 576]) torch.Size([1, 96])

batch number 67
torch.Size([1, 576]) torch.Size([1, 96])

batch number 68
torch.Size([1, 576]) torch.Size([1, 96])

batch number 69
torch.Size([1, 576]) torch.Size([1, 96])

batch number 70
torch.Size([1, 576]) torch.Size([1, 96])

batch number 71
torch.Size([1, 576]) torch.Size([1, 96])

batch number 72
torch.Size([1, 576]) torch.Size([1, 96])

batch number 73
torch.Size([1, 576]) torch.Size([1, 96])

batch number 74
torch.Size([1, 576]) torch.Size([1, 96])

batch number 75
torch.Size([1, 576]) torch.Size([1, 96])

In [18]:
input_dim = 576    
hidden_dim = 256
layer_dim = 2
output_dim = 96
seq_dim = 1

lr = 0.05
n_epochs = 200
iterations_per_epoch = len(trainloader)
best_acc = 0

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device
model=LSTM()

In [19]:
iteration,loss_train_list,loss_val_list=train(model, trainloader, valloader, lr=lr, n_epochs=n_epochs, device=device)

/Users/iris/opt/anaconda3/envs/dl_env/lib/python3.7/site-packages/torch/nn/modules/loss.py:431: UserWarning: Using a target size (torch.Size([1, 96])) that is different to the input size (torch.Size([96])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

epoch 1 loss train 0.0005064644501544535 loss val 0.0023786858655512333
epoch 11 loss train 4.456012092646233e-08 loss val 0.00016950529243331403
epoch 21 loss train 9.410598067915998e-06 loss val 0.00010987396672135219
epoch 31 loss train 4.9918572386786764e-08 loss val 9.735547791933641e-05
epoch 41 loss train 2.414771870462573e-06 loss val 5.1223894843133166e-05
epoch 51 loss train 9.267682798963506e-06 loss val 9.751554171089083e-05
epoch 61 loss train 1.491485051019481e-07 loss val 4.293857637094334e-05
epoch 71 loss train 7.108787940524053e-07 loss val 2.9098173399688676e-05
epoch 81 loss train 3.783165425375046e-08 loss val 1.0239556104352232e-05
epoch 91 loss train 1.5328052427321381e-07 loss val 5.926535777689423e-06

([1, 11, 21, 31, 41, 51, 61, 71, 81, 91],
 [0.0005064644501544535,
  4.456012092646233e-08,
  9.410598067915998e-06,
  4.9918572386786764e-08,
  2.414771870462573e-06,
  9.267682798963506e-06,
  1.491485051019481e-07,
  7.108787940524053e-07,
  3.783165425375046e-08,
  1.5328052427321381e-07],
 [0.0023786859,
  0.00016950529,
  0.00010987397,
  9.735548e-05,
  5.1223895e-05,
  9.751554e-05,
  4.2938576e-05,
  2.9098173e-05,
  1.0239556e-05,
  5.926536e-06])